:root {
  --Primary: #2887e7;
  --Secondary: #3a6bff;
  --Dark: #05070d;
  --text-color: #333;
  --Light: #ffffff;
  --Darken1: #03153F6;
  --Darken2: #174be6;
  --Darken3: #1442cc;
  --Darken6: #0d2a80;
  --Darken7: #0a2168;
  --Darken8: #08194d;
  --Desaturate7: #747f9b;
  --Desaturate8: #9ba4bc;
  --Desaturate9: #c6ccdc;
  --Desaturate10: #f6f8fc;
  --Brighten1: #1953ff;
  --Brighten6: #8ca9ff;
  --Brighten7: #a3baff;
  --Brighten8: #bacbff;
  --Brighten9: #d1ddff;
  --Brighten10: #e8eeff;
  --Border: #eceff1;
  --blueGrey50: #eceff1;
  --blueGrey100: #cfd8dc;
  --blueGrey400: #78909c;
  --blueGrey500: #607d8b;
  --blueGrey800: #37474f;
  --blueGrey900: #263238;
  --green600: #43a047;
  --red700: #d32f2f;
}

.sidebar-container {
  position: relative;
  height: 100%;
  /*    transition: all 0.3s ease;*/
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #00286b;
  color: var(--Light);
  height: 100vh;
  width: 230px;

  overflow: visible;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
  /*    transition: width 0.3s, opacity 0.2s ease;*/
  white-space: nowrap;
  position: relative;
  font-size: 13px;
  font-weight: bold;
}

.sidebar.collapsed {
  width: 55px;
  /*        transition: width 0.3s ease;*/
}

.top-row {
  height: 55px;
  padding-left: 10px;
  background-color: var(--Light);
  position: relative;
  z-index: 100;
}

.navbar-brand img {
  height: 50px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.sm-navbar-brand img {
  margin: 13px 10px 0 2px;
  height: 32px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

#logo {
  display: block;
}

#smlogo {
  display: none;
}

/*.sidebar.collapsed .top-row {
    background-color: #00286b;
}
*/
.sidebar.collapsed #logo {
  display: none;
}

.sidebar.collapsed #smlogo {
  display: block;
}

.nav-menu {
  margin-top: 10px;
  flex: 1;
  /* overflow-y: hidden; */
  padding-bottom: 50px;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item a {
  color: var(--Light);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 20px 0 11px;
  padding: 8px 10px;
  border-radius: 8px;
  justify-content: flex-start;
  position: relative;
  width: 92%;
  height: 35px;
  box-sizing: border-box;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item a.selected {
  background-color: var(--Darken3);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar.collapsed .menu-text {
  display: none;
}

.sidebar.collapsed .nav-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  font-size: 13px;
  margin: 0 20px 0 10px;
  padding: 8px 10px;
}

.sidebar.collapsed .nav-item > a.selected,
.sidebar.collapsed .nav-item > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

.sidebar.collapsed .nav-item a.selected {
  background-color: var(--Darken3);
}

.help-support {
  position: absolute;
  bottom: 5px;
  padding: 10px 20px;
  background-color: #00286b;
}

.help-support a {
  color: var(--Light);
  text-decoration: none;
  display: flex;
}

.help-support i {
  margin-right: 5px;
}

.menu-toggle_btn {
  color: #00286b;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 235px;
  z-index: 5000;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

/* #toggle-btn-left {
  display: block;
} */

/* #toggle-btn-right {
  display: none;
} */

.sidebar.collapsed ~ .menu-toggle_btn {
  left: 60px;
}

/* .sidebar.collapsed #toggle-btn-left {
  display: none !important;
  transition: all 0.3s ease;
} */

/* .sidebar.collapsed #toggle-btn-right {
  display: block !important;
  transition: all 0.3s ease;
} */

button.toggle-btn {
  all: unset;
  cursor: pointer;
}

.menu-text {
  transition: width 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.sidebar.collapsed .arrow-icon {
  display: none;
}

.arrow-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item:hover .arrow-icon {
  visibility: visible;
  opacity: 1;
}

/* 悬浮子菜单样式 */
.hover-submenu {
  position: absolute;
  left: 100%;
  top: 40%;
  box-sizing: border-box; /* 确保padding不超出容器 */
  margin-left: 5px;
  border-radius: 10px;
  transform: translateY(-50%);
  background-color: #00286b;
  width: 180px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  pointer-events: none; /* 默认不接收鼠标事件 */
  padding: 0; /* 取消多余的padding，单独处理内部元素 */
}

.hover-submenu ul {
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px; /* 子菜单项之间的间距 */
  padding: 0; /* 移除默认的padding，使列表项和标题对齐 */
}

.hover-submenu li a {
  display: block;
  padding: 10px; /* 增加padding替代margin */
  color: white;
  text-decoration: none;
  box-sizing: border-box; /* 确保内边距不溢出 */
  overflow: hidden;
  white-space: nowrap; /* 防止文字换行 */
  text-align: left; /* 保证文本左对齐 */
  font-weight: normal;
}

.hover-submenu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: 157px;
}

.submenu-header {
  font-weight: bold;
  padding: 10px 22px;
  background-color: #00286b;
  display: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

/* 仅在collapsed状态下显示submenu-header */
.sidebar.collapsed .hover-submenu .submenu-header {
  display: block;
}

.nav-item:hover .hover-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(-60%) translateX(0);
  pointer-events: auto; /* 鼠标悬停时接收事件 */
}
.sidebar.collapsed .hover-submenu li a {
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  max-width: 170px;
}
.sidebar.collapsed .hover-submenu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: 157px;
}

.hover-submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 15px;
  height: calc(100% + 20px); /* 创建缓冲区 */
  background: transparent;
  z-index: -1;
}
.nav-item {
  position: relative;
}

.tooltip {
  position: fixed;
  top: 0; /* 初始隐藏位置 */
  left: 0; /* 初始隐藏位置 */
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 99999;
}
